@font-face {
    font-family: 'Gotham';
    src: url('../Fonts/Gotham-Bold.otf') format('otf'),
         url('../Fonts/Gotham-Light.otf') format('otf'),
         url('../Fonts/GothamMedium_0.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
   font-family: 'Brillotus';
   src: url('../Fonts/Brillotus.ttf') format('ttf');
   font-weight: normal;
   font-style: normal;
}


    /*   * * * Homepg Component * * *   */

.main{
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   background-image: url('../Images/back.jpeg');
   max-height: 1000px;
}


.head{
   
   padding: 25px;
   color: black;
   font-weight: bold;
   font-size: 17.5px;
   font-family: "Gotham";
   display: flex;
   justify-content: space-between;
}

.hm{
   margin-right: 70px;
}



.Intro{
   margin-top: 280px;
   margin-bottom: 280px;
   display: flex;
   justify-content: space-between;
   font-weight: bold;
   font-size: 35px;
   font-family: "Gotham";
   
}

.cf-1{
   padding-left: 350px;
}

.cf-2{
   margin-right: 0px;
}

.btn-cf-1{
   padding-bottom: 10px;
}

button{
   font-family: "Gotham";
   font-weight: bold;
   background-color: white;
   border-width: 3.4px;
   border-color: black;
   color: black;
   padding: 9px 38px;
   border-radius: 0px;
   border-style: solid;
   font-size: 20px;
   transition: 0.4s;
}

button:hover{
   font-family: "Gotham";
   font-weight: bold;
   background-color: black;
   border-width: 3.4px;
   border-color: black;
   color: #B87341;
   padding: 9px 38px;
   border-style: solid;
   font-size: 20px;
   transition: 0.4s;
}


    /*   * * * Nav Component * * *   */

.nav{
   padding: 9px;
   margin: 0px;
   border-width: 0px;
   border-style: solid;
   border-color: white;
   background-color: black;
   display: flex;
   justify-content: space-between;
   
}

.nav-title-1{
   font-family:"Brillotus";
   font-weight: bolder;
   font-size: 19px;
   color:white;
   transition: 0.4s;
   padding: 0px;
   margin-right: 595px;
}

.nav-title-1:hover{
   font-family:"Brillotus";
   font-weight: bolder;
   font-size: 19px;
   color:#B87341;
   transition: 0.4s;
}

.nav-title-2{
   padding-top:5.5px;
   padding-bottom: 0px;
   font-family:"Gotham";
   font-weight: 600;
   font-size: 16px;
   color: white;
}

.text2{
   font-family:"Gotham";
   font-size: 17.5px;
   font-weight: 600;
}

    /*   * * * CustInfo Component * * *   */

.cnt-info{
   border-width: 3.4px;
   border-style: solid;
   border-color: #B87341;
   padding-top: px;
   padding-bottom: 40px;
   
}

.info{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 0px;
}

.info-blk{
   border-width: 3.4px;
   border-style: solid;
   border-color: #B87341;
}

.input{
   padding: 30px;
}

.info-btn{
   display: flex;
   justify-content: space-evenly;
}

input{
   border-width: 3.4px;
   border-style: solid;
   border-color: black;
   font-family: "Gotham";
   font-weight: bold;
   font-size: 17px;
}

.bttn{
   font-size: 17px;
}

.bttn:hover{
   font-size: 17px;
}



     /*   * * * Coffee Component & Beans Component * * *   */

.cf-text{
   padding: 50px;
   font-family: "Gotham";
   font-weight: bold;
   font-size: 24px;
}

.contain{
    margin: 0px;
    padding: 0px;
 /*  border-width: 3.4px;
    border-style: solid;
    border-color: green; */
    font-family: "Gotham";
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content:space-evenly;
}

.contain-1{
   margin: 0px;
   padding-top: 65px;
/*   border-width: 3.4px;
   border-style: solid;
   border-color: yellow;  */
   font-family: "Gotham";
   font-weight: bold;
   font-size: 20px;
   display: flex;
   justify-content: space-around;
}

/*
.blk{
   border-width: 3.4px;
   border-style: solid;
   border-color: red;
}
*/

.img-1{
    margin: 0px;
    padding: 200px;
    padding-bottom: 75px;
  /*border-width: 2.5px;
    border-style: solid;
    border-color: blue;*/
    background-image: url('../Images/amc.jpg');
    background-size: cover;
}

.img-2{
   margin: 0px;
   padding: 200px;
   padding-bottom: 75px;
  /* border-width: 2.5px;
   border-style: solid;
   border-color: blue; */
   background-image: url('../Images/latte.png');
   background-size: cover;
}

.img-3{
   margin: 0px;
   padding: 200px;
   padding-bottom: 75px;
 /*  border-width: 2.5px;
   border-style: solid;
   border-color: blue; */
   background-image: url('../Images/cap.png');
   background-size: cover;
}

.img-4{
   margin: 0px;
   padding: 200px;
   padding-bottom: 75px;
 /*  border-width: 2.5px;
   border-style: solid;
   border-color: blue;  */
   background-image: url('../Images/espresso.png');
   background-size: cover;
}

.img-5{
   margin: 0px;
   padding: 200px;
   padding-bottom: 75px;
  /* border-width: 2.5px;
   border-style: solid;
   border-color: blue;  */
   background-image: url('../Images/mocha.png');
   background-size: cover;
}

.blk-txt{
   padding: 7px;
   border-width: 2.5px;
   border-style: solid;
   border-color: black;
}

.blk-btn{
   padding: 0.3px 20px;
   font-size: 17.5px;
}

.blk-btn:hover{
   padding: 0.3px 20px;
   font-size: 17.5px;
}

.cnt-blk{
   padding-top: 6px;
   display: flex;
   justify-content:space-between;
}

.bttn-grp{
   padding: 45px;
   padding-left: 10px;
   display: flex;
   justify-content: center;
}

.bttn-1{
   font-size: 17px;
}

.bttn-1:hover{
   font-size: 17px;
}

.img-6{
   margin: 0px;
   padding: 200px;
   padding-bottom: 75px;
 /*  border-width: 2.5px;
   border-style: solid;
   border-color: blue;  */
   background-image: url('../Images/brazilian.jpg');
   background-size: cover;
}

.img-7{
   margin: 0px;
   padding: 200px;
   padding-bottom: 75px;
  /* border-width: 2.5px;
   border-style: solid;
   border-color: blue;  */
   background-image: url('../Images/tcbo.jpg');
   background-size: cover;
}

/*   * * * Beans Component * * *   */

.inc-btn{
   padding: 0.3px 20px;
   font-size: 17.5px;
}

.inc-btn:hover{
   padding: 0.3px 20px;
   font-size: 17.5px;
   background-color: #2E95B4;
   color: black;
}

.dec-btn{
   padding: 0.3px 20px;
   font-size: 17.5px;
}

.dec-btn:hover{
   padding: 0.3px 20px;
   font-size: 17.5px;
   background-color: red;
   color: black;
}


/*   * * * ORDER Component * * *   */

.prd-blk{
   border-width: 2.5px;
   border-style: solid;
   border-color: black;  
   margin-left: 350px;
   margin-right: 350px; 
   font-family: "Gotham";
   font-weight: 600; 
}

.prd{
   border-width: 1.5px;
   border-style: solid;
   border-color: #B87341;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   margin: 15px; 
}

.price{
   border-width: 0px;
   border-style: solid;
   border-color: black;
   padding: 10px;
   margin-right: 1px;
   color: white;
   background-color: black;
   transform: skew(-10deg);
}

.odr-text{
   font-family: "Gotham";
   font-weight: bold;
   font-size: 22px;
   padding-left: 620px;
   padding-top: 40px;
   padding-bottom: 40px;
}

.cst-blk{
   border-width: 2px;
   border-style: solid;
   border-color: #B87341;
   font-family: "Gotham";
   font-weight: bold;
   font-size: 23px;
   margin-left: 370px;
   margin-right: 370px; 
   margin-top: 20px;
   display: flex;
   justify-content: space-around;
}

.cst-txt{
   border-width: 0px;
   border-style: solid;
   border-color: black;
   padding: 6px;
   margin: 5px;
   color: black;
}

.cst-num{
   border-width: 0px;
   border-style: solid;
   border-color:black; 
   padding: 7px;
   margin: 5px;
   transform: skew(-10deg);
   color: white;
   background-color:black; 
}

.chk-btn{
   margin-left: 560px;
   margin-top: 40px;
   font-size: 17.5px;
}

.chk-btn:hover{
   margin-left: 560px;
   margin-top: 40px;
   font-size: 17.5px;
}


/*   * * * Confirm Component * * *   */

.cfm-text{
  margin-left: 45px;
  margin-top: 45px;
  font-family: "Gotham";
  font-size: 22px;
  font-weight: bold;
}

.cfm-name{
   font-family: "Gotham";
   font-size: 20px;
   font-weight: bold;
   margin-left: 55px;
   margin-top: 30px; 
}

.cfm-blk{
   border-width: 2.5px;
   border-style: solid;
   border-color: black;  
   margin: 55px;
   margin-top: 22px;
   font-family: "Gotham";
   font-weight: bold;
   font-size: 16px;
}

.cfm-prd{
    border-width: 1.5px;
    border-style: solid;
    border-color: #B87341;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 15px; 
}

.cfm-txt{
    margin-left: 16px;
    margin-top: 20px; 
    font-family: "Gotham";
    font-size: 17.5px;
    font-weight: bold;
}

.cfm-foot{
    margin-left: 0px;
    margin-top: 0px;
    font-family: "Gotham";
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center; 
}





